# CI steps for all branches:
-
  assembly_info:
    patch: false
  build_script:
    build.cmd
  test: off
# For master only:
-
  branches:
    only:
      - master
  version: 1.0.{build}
  build_script:
    build.cmd version=%APPVEYOR_BUILD_VERSION%
  deploy_script:
    build.cmd "PublishNugetPackage" -st nugetKey=%nugetKey% version=%APPVEYOR_BUILD_VERSION%
